body{
    background: #505050;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
}

.fill {
    min-width: 28rem;
    max-width: 52rem;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
}

.invalid {
    border-color: #dc3545;
}

input {
    text-align: center;
}

/*.mt-4 {*/
/*    margin-left: ($spacer * .1) !important;*/
/*}*/
